<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css” />
    <link rel="stylesheet" href="login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="mingo">
        <div class="container main">
            <div class="container inner-main">
                <form action="#">
                    <h2>Feedback</h2>

                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" placeholder=" Enter your name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" placeholder=" Enter your Email" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="">Subject</label>
                        <input type="text" placeholder=" Subject" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="">Enter Password again</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>

                    <button type="button" class="btn">submit</button>

                </form>
            </div>
        </div>
    </div>
</body>

</html>